<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Posts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Blog Posts</h1>
    <div class="posts">
        {% for post in posts %}
        <div class="post">
            <h2>{{ post['title'] }}</h2>
            <p><strong>Author:</strong> {{ post['author'] }}</p>
            <p>{{ post['content'] }}</p>
            <form action="{{ url_for('delete', post_id=post['id']) }}" method="post" style="display:inline;">
                <input type="submit" value="Delete">
            </form>
            <a href="{{ url_for('update', post_id=post['id']) }}">Update</a>
        </div>
        {% endfor %}
    </div>
    <a href="{{ url_for('add') }}">Add New Post</a>
</body>
</html>
