<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Blog Post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Update Blog Post</h1>
    <form action="{{ url_for('update', post_id=post['id']) }}" method="POST">
        <label for="author">Author:</label><br>
        <input type="text" id="author" name="author" value="{{ post['author'] }}"><br><br>

        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" value="{{ post['title'] }}"><br><br>

        <label for="content">Content:</label><br>
        <textarea id="content" name="content" rows="4" cols="50">{{ post['content'] }}</textarea><br><br>

        <input type="submit" value="Update">
    </form>
</body>
</html>
